<article class="card">
  <div class="card-header flex-row justify-space-between">
    <h2>{{title}}</h2>
    <div>
      Author: {{user.username}}
    </div>
  </div>
  <div class="card-body">
    {{body}}
  </div>
</article>