<div class="row justify-content-center">
  <div class="col-4">
    <label for="username" class="form-label">Username</label>
    <input type="username" class="form-control form-control-lg" id="username">

    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control form-control-lg" id="email" placeholder="name@example.com">

    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control form-control-lg" id="password">

    <button class="btn btn-primary mt-3" type="submit" id="signup">Sign Up</button>

  </div>

</div>

<script src="/js/auth.js"></script>